/* BODY */

body {
    margin: 0px;
}

/* HEADER */

header {
    display: flex;
    min-height: 100px;
    background-color: #ffa555;
    align-items: center;
    justify-content: space-between;
}

.container-logo img {
    display: flex;
    width: 300px;
    padding: 25px 25px;
}

header nav {
    font-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 40px 20px;
}

header nav a:hover {
    background-color: #ffffff;
    color: #ffa555;
}

.container-hamburger, #hamburger {
    display: none;
}

/* HEADER RESPONSIVE */

@media (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    header nav {
        padding: 10px;
    }

    header nav a {
        padding: 20px 10px;
    }

    .container-logo img {
        width: 300px;
    }


}

@media (max-width: 1000px) {

    header nav {
        font-size: 20px;
    }

    .container-logo img {
        padding: 20px 10px;
        width: 300px;
    }
}

@media (max-width: 800px) {
    header nav {
        font-size: 18px;
    }

    header nav a {
        display: inline-block;
        height: 100%;
    }

    .container-navbar {
        padding: 0px;
        margin: 0px;
    }

    .container-logo img {
        padding: 20px 10px;
        width: 300px;
    }
}

@media (max-width: 700px) {
    header {
        display: flex;
        height: 100px;
        flex-direction: row;
        position: relative;
    }

    .container-logo img {
        display: flex;
        left: 0px;
        margin-left: 10px;
        margin-right: 10px;
        width: 50%;
        padding: 0px;
    }

    .container-hamburger {
        display: flex;
        cursor: pointer;
        position: absolute;
        z-index: 4;
        right: 0px;
        padding: 25px;
    }

    header nav {
        height: 100vh;
        width: 50%;
        display: flex;
        background-color: #ffc67a;
        flex-direction: column;
        position: fixed;
        z-index: 3;
        right: 0px;
        top: 0px;
        padding: 0px;
        margin: 0px;
        clip-path: inset(0 0 100% 100%);
    }

    header nav a {
        display: flex;
        justify-content: center;
        padding: 35px 25px;
        margin: 0px;
    }

    .reviews {
        margin-top: 100px;
    }

    .input-hamburger:checked + .container-navbar {
        clip-path: inset(0 0 0 0);
    }

    .container-logo img {
        width: 45%;
    }

    header nav {
        width: 45%;
    }

}

/* MAIN */

main {
    display: flex;
    height: 558px;
    position: relative;
    justify-content: flex-end;
}


main .main {
    position: absolute;
    z-index: 1;
}

main .main-mobile {
    display: none;
}

.icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.icons label {
    display: inline;
    cursor: pointer;
    padding: 12px;
    bottom: 30px;
    right: 30px;
    position: relative;
    z-index: 2;
}

/* MAIN RESPONSIVE */

@media (max-width: 700px) {

    main .main {
        display: none;
    }

    main .main-mobile {
        display: flex;
        position: fixed;
    }

    .icons label {
        bottom: 0px;
        right: 0px;
    }

}